@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "BT-Beau-Sans";
  src: url("/fonts/BT Beau Sans/BT-BeauSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { 
  font-family: "BT-Beau-Sans";
  src: url("/fonts/BT Beau Sans/BT-BeauSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    color: theme('colors.white');
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0 4px 6px -1px rgb(0, 94, 162), 0 2px 4px -1px rgba(177, 222, 255, 0.06);
  }
}

h1 {
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

button {
  background-color: theme('colors.deepBlue');
}

.footer {
  background-color: theme('colors.brightBlue');
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

a:hover {
  color: theme('colors.lightBlue');
}